<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"></head>

<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2>Detalles del Profesor</h2>
    <div class="card">
        <div class="card-header">Dni</div>
        <div class="card-body">
            <p class="card-text">
            <td th:text="${professor.getDni()}">123456789A</td>
            </p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body">
            <p class="card-text">
            <td th:text="${professor.getName()}">Juan</td>
            </p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Apellidos</div>
        <div class="card-body">
            <p class="card-text">
            <td th:text="${professor.getSurname()}">Juanez</td>
            </p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Categoría</div>
        <div class="card-body">
            <p class="card-text">
            <td th:text="${professor.getCategory()}">Matemáticas</td>
            </p>
        </div>
    </div>
</div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
